body {
    min-height: 3000px;
}
.jumbotron {
    padding-top: 6rem;
    background-color: #b0b9c7;
}

#projects {
    background-color: #b0b9c7;   
}

section {
    padding-top: 5rem;
}

.gallery-img {
    width: 100%;
}

#gallery .row > * {
    padding: 0;
}